@using wwwplatform.Extensions.Helpers.Bootstrap;

@model wwwplatform.Models.MailingList

@{
    ViewBag.Title = "Mailing List Details - " + Model.Name;
    ViewBag.Id = Model.Id;

    var columns = new[] { new { sm = 4 }, new { sm = 8 } };

}

<h2>Mailing List Details</h2>

<div>
    @Html.Row(columns
        ).Column(
        ).Add(
        @<h4 class="no-margin">
            @Model.Name
        </h4>
        ).Column(htmlAttributes: new { @class = "text-right" }
        ).Add(@<div>
            @Html.ActionLink("New Message", "Compose", new { id = Model.Id }, new { @class = "btn btn-success" })
            <div class="btn-group">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Subscribe", "Create", "MailingListSubscribers", new { id = Model.Id }, new { @class = "btn btn-default" })
            </div>
            @Html.ActionLink("Cancel", "Index")
        </div>
        )
</div>
<hr />
<div>
    @Html.Partial("_MailingListSubscribers", Model.Subscribers)
</div>
