@model IEnumerable<wwwplatform.Models.MailingList>

@{
    ViewBag.Title = "Mailing Lists";
}

<h2>@ViewBag.Title</h2>

<section class="h3 text-right">
    <div class="btn-group">
        @Html.ActionLink("New Mailing List", "Create", null, new { @class = "btn btn-default" })
    </div>
</section>

@if (Model.Count() == 0)
{
    <section class="jumbotron text-center"><h3 class="text-muted">No items to display</h3></section>
}
else
{
    <section class="margin-bottom-40">
    <table class="table table-striped auto-datatable clickable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th class="disable-sorting"></th>
                <th class="disable-sorting"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-href="/MailingLists/Details/@(item.Id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.ActionLink("New Message", "Compose", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
                    </td>
                    <td>
                        @Html.Partial("_TableActionButtons", item)
                    </td>
                </tr>
            }
        </tbody>

    </table>
    </section>
}