@model IEnumerable<wwwplatform.Models.MailingList>

@{
    ViewBag.Title = "Mailing Lists";
}

<h2>@ViewBag.Title</h2>

<section class="h3 text-right">
    <div class="btn-group">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </div>
</section>

@if (Model.Count() == 0)
{
    <section class="jumbotron text-center"><h3 class="text-muted">No items to display</h3></section>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("New Message", "Compose", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
        </td>
        <td>
            @Html.Partial("_TableActionButtons", item)
        </td>
    </tr>
}

</table>
}