@model wwwplatform.Models.SentEmailMessageModel
@{
    ViewBag.Title = "Message Sent";
}

<h2>Message Summary</h2>
<div class="row">
    <div class="col-sm-9">
        <h4 class="no-margin">@(Model.To)</h4>
    </div>
    <div class="col-sm-3 text-right">
        @Html.ActionLink("Back", "Details", new { id = Model.MailingListId })
    </div>
</div>
<hr />
<div>
    <h4 class="inline">Message sent to: @Model.To</h4>
</div>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Subject)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Subject)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SentCount)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SentCount)
    </dd>
</dl>