@model wwwplatform.Models.SentEmailMessageModel
@{
    ViewBag.Title = "Message Sent";
}

<h2>Message Sent!</h2>

<div>
    <h4 class="inline">To: @Model.To</h4>
</div>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Subject)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Subject)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SentCount)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SentCount)
    </dd>
</dl>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
