@using wwwplatform.Models;
@using wwwplatform.Extensions.Helpers.Bootstrap;
@using System.Text.RegularExpressions;

@model IEnumerable<AppSetting>

@{
    ViewBag.Title = "Application Settings";
}
@helper PrettyName(string name)
{
Regex regex = new Regex("([A-Z])");
Write(regex.Replace(name, " $1"));
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "AppSettings", FormMethod.Post))
{
    @Html.Row(new[] { new { sm = 9 }, new { sm = 3 } }
        ).Column(
        ).Add(
        @<h4 class="no-margin">
            Change application settings
        </h4>
        ).Column(htmlAttributes: new { @class = "text-right" }
        ).Add(@<span>
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.ActionLink("Cancel", "Index")
        </span>
        )
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="margin-bottom-40">
        @Html.AntiForgeryToken()
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @PrettyName(item.Name)
                        </td>
                        <td>
                            @Html.Partial("_AppSettingEditor", item)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
}