@using wwwplatform.Models.ViewModels;

@model wwwplatform.Models.SharedFolder

@{
    ViewBag.Title = Model.Name;
    var isFolderOwner = Model.UpdatedBy == User.Identity.Name || User.IsInRole(wwwplatform.Models.Roles.Administrators);
}

<h2>@ViewBag.Title</h2>

<section class="h3 text-right">
    <div class="btn-group">
        @UploadDialogButton("Folder_" + Model.Slug, "Upload")
        @if (isFolderOwner)
        {
            Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" });
        }
    </div>
</section>
@if (Model.Files.Count() == 0)
{
    <section class="jumbotron text-center"><h3 class="text-muted">No files to display</h3></section>
}
else
{
    <table class="table table-striped auto-datatable clickable">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                <th>
                    Uploaded By
                </th>
                <th class="disable-sorting"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Files)
            {
                <tr data-href="/WebFiles/Details/@(item.Id)?v=1" data-target="_blank">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                        @Html.Partial("_TableActionButtons", item, new TableActionOptions { showDelete = isFolderOwner || item.IsOwner(User), showEdit = item.IsOwner(User), detailLabel = "Download", Controller = "WebFiles" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            $(function () {
                $(window).bind('Folder_@(Model.Slug).selected', function (event, data) {
                    var id = data.id;
                    var csrf = $('input[name="__RequestVerificationToken"]').val();
                    $.post('/SharedFolders/AddFiles/@Model.Id', { files: id, '__RequestVerificationToken': csrf })
                    .success(function () {
                        window.location.reload(true);
                    })
                    .fail(function (result) {
                        bootbox.alert('The file could not be uploaded to this shared folder.');
                    });
                });
            });
        </script>
    );
}