@using wwwplatform.Models.ViewModels;

@model IEnumerable<wwwplatform.Models.SharedFolder>

@{
    ViewBag.Title = Settings.SharedFoldersLabel;

    var IsAdmin = User.IsInRole(wwwplatform.Models.Roles.Administrators);
}

<h2>@ViewBag.Title</h2>

<section class="h3 text-right">
    @if (User.Identity.IsAuthenticated)
    {
    <div class="btn-group">
        @Html.ActionLink("New Folder", "Create", null, new { @class = "btn btn-default" })
    </div>
    }
</section>

@if (Model.Count() == 0)
{
    <section class="jumbotron text-center"><h3 class="text-muted">No items to display</h3></section>
}
else
{
    <section class="margin-bottom-40">
    <table class="table table-striped auto-datatable clickable">
        <thead>
            <tr>
                <th data-orderable="false" data-width="4px"></th>
                <th data-order="asc">
                    Name
                </th>
                <th>
                    Description
                </th>
                <th class="text-right">
                    Files
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th class="disable-sorting"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-href="/Shared/@item.Slug">
                    <td>
                        <i class="fa fa-folder-o fa-lg"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="text-right">
                        @item.Files.Count()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.Partial("_TableActionButtons", item, new TableActionOptions { showDelete = IsAdmin || item.IsOwner(User), showEdit = IsAdmin || item.IsOwner(User), showDetails = false })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </section>
}