@using wwwplatform.Shared.Extensions.System;

@model IEnumerable<wwwplatform.Models.SitePage>

@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<section class="h3">
    <div class="btn-group">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Edit Home Page", "Edit", new { id = "home" }, new { @class = "btn btn-default" })
    </div>
</section>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PubDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

@foreach(var item in Model) {
    <tr>
        <td>
            <a href="@(item.Slug.ToAppPath())">
            @Html.DisplayFor(modelItem => item.Name)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PubDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.Partial("_TableActionButtons", item)
        </td>
    </tr>
}

</table>
