@using wwwplatform.Shared.Extensions.System;

@model IEnumerable<wwwplatform.Models.SitePage>

@{
    ViewBag.Title = "Pages";
}

<h2>@ViewBag.Title</h2>

<section class="h3 text-right">
    <div class="btn-group">
        @Html.ActionLink("New Page", "Create", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Edit Home Page", "Edit", new { id = "home" }, new { @class = "btn btn-default" })
    </div>
</section>
@if (Model.Count() == 0)
{
    <section class="jumbotron text-center"><h3 class="text-muted">No items to display</h3></section>
}
else
{
    <section class="margin-bottom-40">
    <table class="table table-striped auto-datatable clickable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PubDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th class="disable-sorting"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr data-href="/SitePages/Details/@item.Id">
                    <td>
                        <a href="@(item.Slug.ToAppPath())">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PubDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.Partial("_TableActionButtons", item)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </section>
}