<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@(Settings.SiteName) - @(ViewBag.Title)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@(ViewBag.Author ?? Settings.SiteOwner)">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="hostname" content="@(Settings.CanonicalHostName ?? Request.Url.Host)">
    <meta name="og:type" content="@(ViewBag.PageType ?? "website")">
    <meta name="og:url" content="@Request.RawUrl">
    <meta name="og:title" content="@(ViewBag.Title ?? Settings.DefaultPageTitle)">
    <meta name="og:image" content="@(ViewBag.Image ?? Settings.DefaultSiteImage)">
    <meta name="og:description" content="@(ViewBag.Description ?? Settings.DefaultPageDescription)">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    @Styles.Render("~/assets/css/all")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body class="fade @(PageCssClass)">
    <div id="pre_header" class="visible-sm visible-md visible-lg">
        <div class="pull-right text-right text-white">
            @if (Request.IsAuthenticated)
            {
                if (User.IsInRole(wwwplatform.Models.Roles.Administrators) ||
                    User.IsInRole(wwwplatform.Models.Roles.Editors) ||
                    User.IsInRole(wwwplatform.Models.Roles.ListManagers))
                {
                    <ul class="list-unstyled list-inline inline">
                        <li class="btn">
                            @Html.Partial("_AdminMenu", viewData: new ViewDataDictionary { ["class"] = "dropdown adminMenu", ["toggleClass"] = "text-white" })
                        </li>
                        <li></li>
                    </ul>
                }
                <span class="btn">Logged in as</span>
                @MyAccountLink(CurrentUser.FullName(), "btn")
            }
            else
            {
                <span class="btn">Hello Guest!</span>
                @LoginLink(null, "btn bold")
            }
        </div>
    </div>
    <div id="header" class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#page-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Logo -->
                        <div class="logo navbar-brand">
                            <a href="~/" title="Home">
                                <img src="~/assets/img/banner_image.png" alt="@(Settings.SiteName)" />
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="page-nav">
                        @Html.Partial("_Nav")
                    </div>
                </div>
            </nav>
        </div>
        <div class="row h0">
            <div id="messages"></div>
        </div>
    </div>
    <!-- === END HEADER === -->
    <!-- === BEGIN CONTENT === -->
    <div id="content" class="container">
        @RenderBody()
    </div>
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
    <!-- Footer Menu -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div id="copyright" class="col-sm-4">
                    <p>&copy; @(DateTime.Now.Year) @(Settings.SiteOwner)</p>
                </div>
                <div id="footermenu" class="col-sm-8">
                    <ul class="list-unstyled list-inline pull-right">
                        <li>
                        </li>

                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole(wwwplatform.Models.Roles.Administrators) ||
                                User.IsInRole(wwwplatform.Models.Roles.Editors) ||
                                User.IsInRole(wwwplatform.Models.Roles.ListManagers))
                            {
                                <li>
                                    @Html.Partial("_AdminMenu")
                                </li>
                            }
                            if (Settings.ShowSharedFoldersInMenus && SharedFoldersLinkIsAvailable())
                            {
                                @SharedFoldersLink()
                            }
                            <li>
                                @MyAccountLink()
                            </li>
                        }
                        else if (Settings.ShowSharedFoldersInMenus && SharedFoldersLinkIsAvailable())
                        {
                            @SharedFoldersLink()
                        }
                        <li>
                            @LoginLink()
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Menu -->
    @Scripts.Render("~/scripts/substance")
    @RenderSection("scripts", required: false)
    @Html.RenderScripts()
</body>
</html>
