@using wwwplatform.Models.ViewModels;

@model IEnumerable<wwwplatform.Models.MailingListSubscriber>

<div>
    <h4 class="inline">Subscribers</h4>
    <div class="pull-right inline">
        @Html.ActionLink("Add New", "AddSubscriber", new { id = ViewBag.Id }, new { @class = "btn btn-success" })
        @Html.ActionLink("Export", "ExportList", new { id = ViewBag.Id }, new { @class = "btn btn-success" })
    </div>
</div>
<table class="table table-striped auto-datatable clickable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th class="disable-sorting"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-href="/MailingListSubscribers/Edit/@(item.Id)">
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @(item.Enabled ? "Yes" : "No")
                </td>
                <td>
                    @Html.Partial("_TableActionButtons", item, new TableActionOptions { Controller = "MailingListSubscribers", showDetails = false, deleteLabel = "Remove" })
                </td>
            </tr>
        }
    </tbody>
</table>
