@using wwwplatform.Extensions.Helpers.Bootstrap;
@using wwwplatform.Extensions.Helpers;

@model wwwplatform.Models.WebFile

@{
    ViewBag.Title = "Delete File - " + Model.Name;
    var columns = new[] { new { sm = 4 }, new { sm = 8 } };
    var labelAttributes = new { @class = "text-right" };
    var label = "label";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @SimpleAntiForgeryToken()

    <div class="form-horizontal">
        @Html.Row(columns.Reverse()
         ).Column(
         ).Add(
            @<h4>Are you sure you want to delete this file?</h4>
         ).Column(htmlAttributes: new { @class = "text-right" }
         ).Add(@<span>
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Cancel", "Index")
            </span>
         )
        <hr />
        @Html.HiddenFor(model => model.Id)

        @Html.Row(columns
         ).Column(label, labelAttributes
             ).Add("Name"
         ).Column(
             ).Add(Model.Name)

        @Html.Row(columns
         ).Column(label, labelAttributes
             ).Add("Size"
         ).Column(
             ).Add(FileStorage.FormatBytes(Convert.ToDouble(Model.Size.Value)))

        @Html.Row(columns
         ).Column(label, labelAttributes
             ).Add("Date"
         ).Column(
             ).Add((Model.DisplayDate ?? Model.UpdatedAt).AddMinutes(UserTimeZoneOffset).ToString("G"))

    </div>
}