@using wwwplatform.Extensions.Helpers.Bootstrap;

@model wwwplatform.Models.WebFile

@{
    ViewBag.Title = "Details";
    var columns = new[] { new { sm = 8 }, new { sm = 4 } };
}

<h2>Details</h2>

<div>
    @Html.Row(columns
        ).Column(
        ).Add(
        @<h4 class="no-margin">
            @Model.Name
        </h4>
        ).Column(htmlAttributes: new { @class = "text-right" }
        ).Add(@<div class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
            </div>
        ).Add(
            Html.ActionLink("Cancel", "Index")
        )
    <hr />
    <dl class="dl-horizontal">

        <dt>
            File Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetFileName())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
