@model IEnumerable<wwwplatform.Models.WebFile>

@{
    ViewBag.Title = "Uploaded Files";
}

<h2>Uploaded Files</h2>

<section class="h3">
    <div class="btn-group">
        @Html.ActionLink("Upload", "Create", null, new { @class = "btn btn-default" })
    </div>
</section>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Download", "Download", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
        </td>
        <td>
            @Html.Partial("_TableActionButtons", item)
        </td>
    </tr>
}

</table>
