@using wwwplatform.Models.ViewModels;

@model IEnumerable<wwwplatform.Models.WebFile>

@{
    ViewBag.Title = "Uploaded Files";
}

<h2>Uploaded Files</h2>

<section class="h3 text-right">
    <div class="btn-group">
        @Html.ActionLink("Upload", "Create", null, new { @class = "btn btn-default" })
    </div>
</section>
<section class="margin-bottom-40">
    <table class="table table-striped auto-datatable clickable">
        <thead>
            <tr>
                <th data-orderable="false" data-width="4px"></th>
                <th data-order="asc">
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Date
                </th>
                @*<th class="disable-sorting"></th>*@
                <th class="disable-sorting"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-href="@Url.Action("Details", new { id = item.Id, v = 1 })" data-target="_blank">
                    <td>
                        <i class="fa @(item.Icon) fa-lg"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @item.UpdatedAt.AddMinutes(UserTimeZoneOffset).ToString("G")
                    </td>
                    <td>
                        @Html.Partial("_TableActionButtons", item, new TableActionOptions { detailLabel = "Download" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>