@using Microsoft.Owin.Security;
@using wwwplatform.Extensions.Helpers.Bootstrap;

@model wwwplatform.Models.IndexViewModel

@{
    ViewBag.Title = "Account";

    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    var externalConfigured = (loginProviders.Count() > 0);

    var columns = new[] { new { sm = 3 }, new { sm = 9 } };
    var labelAttributes = new { @class = "text-right" };
    var label = "label";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<section class="margin-bottom-40">
    <h4>Change your account settings</h4>
    <hr />
    <div class="form-horizontal">
        @Html.Row(columns
            ).Column(label, labelAttributes
            ).Add("Password"
            ).Column(
            ).Add(
                Model.HasPassword
                ? Html.ActionLink("Change your password", "ChangePassword")
                : Html.ActionLink("Create", "SetPassword")
            )

        @if (externalConfigured)
        {
            @Html.Row(columns
                ).Column(label, labelAttributes
                ).Add("External Logins"
                ).Column(
                ).Add(
                @<span>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </span>
                )
        }
        @Html.Row(columns
            ).Column(label, labelAttributes
            ).Add("Two-Factor Authentication"
            ).Column(
            ).Add(
            @<span>
                There are no two-factor authentication providers configured.
            </span>
            )
        @Html.Row(columns
            ).Column(label, labelAttributes
            ).Add("Uploaded Files"
            ).Column(
            ).Add(
            @<span>
                 @Html.ActionLink("Manage your uploads", "Index", "WebFiles")
            </span>
            )
    </div>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
            See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a> for details on setting up this ASP.NET application to support two-factor authentication.
        @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @SimpleAntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @SimpleAntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
</section>
