@using wwwplatform.Extensions.Helpers.Bootstrap;

@model wwwplatform.Models.AdminResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password - " + Model.UserName;
    var columns = new[] { new { sm = 3 }, new { sm = 9 } };
    var label = new { @class = "control-label" };

}

<h2>Reset Password</h2>

@using (Html.BeginForm())
{
    @SimpleAntiForgeryToken()

    <div class="form-horizontal">
        @Html.Row(columns.Reverse()
        ).Column(
        ).Add(
        @<h4 class="no-margin">
            @Model.UserName
        </h4>
        ).Column(htmlAttributes: new { @class = "text-right" }
        ).Add(@<span>
            <input type="submit" value="Reset" class="btn btn-warning" />        
            @Html.ActionLink("Cancel", "Index")
            </span>
        )
        <hr />
        @Html.HiddenFor(model => model.UserId)

        @Html.FormGroup(columns
        ).Column(null, label).Add(
            Html.LabelFor(model => model.NewPassword)
        ).Column().Add(
            Html.FormControlFor(model => model.NewPassword)
        )

        @Html.FormGroup(columns
        ).Column(null, label).Add(
            Html.LabelFor(model => model.ConfirmPassword)
        ).Column().Add(
            Html.FormControlFor(model => model.ConfirmPassword)
        )
    </div>
}