@model wwwplatform.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title</h2>
<section id="loginForm" class="margin-bottom-40">
    <div class="row">
        <div class="well col-sm-6 col-sm-offset-3">
            @using (Html.BeginForm("ForgotPassword", "Account", POST, new { @class = "form-horizontal", role = "form" }))
            {
                @SimpleAntiForgeryToken()
                <h4 class="text-center">Enter your email.<br />We will send a link for the password reset form to you.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 text-right">
                        <input type="submit" class="btn btn-default" value="Email Link" />
                        @Html.ActionLink("Cancel", "Login", "Account")
                    </div>
                </div>
            }
        </div>
    </div>
</section>